#studentNavbar{
	background-color:#252830;
	margin-bottom: 0;
	width: 100%;
	border-bottom: solid 1px black;
}

#studentPageRow{
	background-color: #d5f0f9;
	margin-top:20px;
	margin-bottom:20px;

}

.brand-name{
	border-left: solid 1px black;
	border-right: solid 1px black;
	margin-top: 5px;
	margin-bottom: 5px;
}

#headerContainer {
    padding: 0;
    margin-left: 75px;
    margin-right: 75px;
    width: auto;
}

#studentPage{
	background-color: #d5f0f9;
}