
.sectionDiv{
	border-top: solid 1px lightgrey;
}

#featuresDiv{
	background-image: url(./lolCast.jpg);
	height: 450px;	
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
.sectionDiv2{

    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100%;

	margin-bottom: 0px;
}
.featureImg{
	width: 50px
}
p{
	font-size: 15px;
}