#studentRequestSection h3{
	background-image: url("./headerBackground.png");
	background-size: cover;
	margin: 0px;
	margin-top: 10px;
	padding: 70px;
	text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
	color: white;
	border: solid 1px #9999b9;
	font-weight: bolder;
	font-size: 50px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
 	 border-radius: 5px;
}