#studentNavButtons{
	margin-left: 10%;
}


#studentNavButtons button{
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: grey;
}

#studentVodNavButtons{
	margin-left: 10%;
}


#studentVodNavButtons button{
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: grey;
}

#coachVods h4{
	color: white;
	margin-left: 10%;
	width: 80%;
	border-bottom: solid 1px white;
}