#studentNavButtons{
	margin-left: 10%;
}


#studentNavButtons button{
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: grey;
}

#studentVodNavButtons{
	margin-left: 10%;
}


#studentVodNavButtons button{
	margin-right: 10px;
	margin-bottom: 20px;
	background-color: grey;
}

#coachVods h4{
	color: white;
	margin-left: 10%;
	width: 80%;
	border-bottom: solid 1px white;
}

#coachVodImages{
	margin-left: 10%;
	width: 80%;
	border: solid 1px white;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3a3a3d;
}

#returnStudentButton{
	margin-bottom: 10px;
}