#profilePic{
	width: 150px;
	height: 150px;
	margin-bottom: 0px;
	border: solid 1px black;
	-webkit-border-radius: 30px;
  	-moz-border-radius: 30px;
 	 border-radius: 30px;
}

.nav-pills{
  width: 70%;
  margin: auto;
  text-align: center;
}

#leftDiv{
	height: 100%;	
	background-color: #cbd1d3;
	border-left:solid 1px black;
	min-height: 1300px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	-webkit-border-top-left-radius: 10px;
  	-moz-border-top-left-radius: 10px;
 	 border--top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
  	-moz-border-bottom-left-radius: 10px;
 	 border--bottom-left-radius: 10px;
}

#collapseButton{
	margin-top: 5px;
	border: solid 1px black;
	right: -5px;
}

