.triImage{
	margin-top: 20px;

	height: 230px;
	width: 230px;
}
.triImage2{
	margin-top: 40px;
/* 	border: solid 1px lightgrey; */
}
.sectionDiv{
	border-top: solid 1px lightgrey;

}

#thirdsDiv{
	background-color: silver;
	padding-bottom: 10px;
}

.sectionDiv img{
	width: 60%;
	height: 200px;
	border: none;
	background-color: #595959;
}
.textwhite{
	color: white !important;

}