.triImage{
	margin-top: 20px;
	border: solid 1px lightgrey;
}

.sectionDiv{
	border-top: solid 1px lightgrey;
}

#thirdsDiv{
	background-color: silver;
	padding-bottom: 10px;
}

.sectionDiv img{
	width: 60%;
	height: 200px;
	border: none;
}